@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rampart+One&display=swap");

$primary-color: white;
$secondary-color: black;
$tertiary-color: orange;
$quaternary-color: grey;
$display-color: lightgoldenrodyellow;

$primary-font: "Orbitron";
$secondary-font: "Rampart One";
